<section
  class="section contact"
  id='contact'
>
  <div class="container">
    <div class="section-box">
      <div
        class="mb-4"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <h3 class="contact-pre-title big-subtitle">04. What's Next?</h3>
        <h4 class="e-font contact-title big-title">
          Get In Touch
        </h4>
      </div>
      <p
        class="contact-text"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        Currently, I'm looking for any new opportunities, my inbox is always open. Whether you have a job opportunity,
        question or
        just want to say hi, I'll try my best to get back to you! ✌🏻
      </p>
      <div class="mt-5">
        <a
          href="mailto:alvarofelipe12@gmail.com?subject=Hey! I saw your portfolio and would like to connect."
          target="_blank"
          class="main-btn"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-anchor=".contact-text"
        >
          Say Hello!
        </a>
      </div>
    </div>
  </div>
</section>
