<section
  class="section projects"
  id='projects'
>
  <div class="container">
    <div class="section-box">
      <div
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <h3 class="section-title">
          <span class='n-section-title'>03.</span> Some Things I've Built
        </h3>
      </div>

      <div
        *ngFor='let project of projects; let i = index'
        class="d-flex m-3 gap-3 project-container"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div
          class="img-feature-project-container"
          data-aos="fade-up"
          data-aos-duration="1000"
          *ngIf="i%2==0"
        >
          <div class="img-feature-project-box">
            <div
              class="img-container"
              style='width: auto;'
            >
              <ng-container *ngIf="project.youtubeURL; else elseTemplate">
                <iframe
                  [src]='project.youtubeURL'
                  width="560"
                  height="315"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </ng-container>
              <ng-template #elseTemplate>
                <img
                  [src]="project.imgs[0]"
                  alt="Preview of the project"
                  aria-label="Preview of the project"
                  aria-placeholder="Preview of the project"
                  width="560"
                  height="315"
                >
              </ng-template>
            </div>
          </div>
        </div>
        <div
          [class.project-info-right]='i%2==0'
          [class.project-info-left]='i%2!=0'
          class="h-100"
        >
          <div class="project-box">
            <h5
              [class.text-right]='i%2==0'
              [class.text-left]='i%2!=0'
              class="project-name"
            >{{project.title}}</h5>

            <div
              class="project-description-box"
              (click)='debug()'
            >
              <p
                class="mb-0"
                [innerHTML]="project.description"
              >
              </p>
            </div>
            <ul
              [class.justify-content-end]='i%2==0'
              [class.justify-content-start]='i%2!=0'
              class="project-skills"
            >
              <li
                *ngFor='let technology of project.technologies'
                class="ml-3"
              >
                <span class="underline technology">{{technology}}</span>
              </li>
            </ul>
            <div
              [class.text-right]='i%2==0'
              [class.text-left]='i%2!=0'
              class="project-links"
            >
              <a
                *ngIf="project.ghLink"
                [href]="project.ghLink"
                target="_blank"
                aria-label="Github Link"
              >
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
              </a>
              <a
                *ngIf="project.demoLink"
                [href]="project.demoLink"
                target="_blank"
                aria-label="Application Link"
              >
                <fa-icon [icon]="['fas', 'arrow-up-right-from-square']"></fa-icon>
              </a>
            </div>
          </div>
        </div>
        <div
          class="img-feature-project-container"
          data-aos="fade-up"
          data-aos-duration="1000"
          *ngIf="i%2!=0"
        >
          <div class="img-feature-project-box">
            <div
              class="img-container"
              style='width: auto;'
            >
              <iframe
                [src]='project.youtubeURL'
                width="560"
                height="315"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        Under construction...
        <div class="loadership_SGDOK">
          <!-- https://www.loadership.com/loaders/dot_circular_pulse -->
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</section>
