<section class="section about" id='about'>
  <div class="container">
    <div class="section-box">
      <div class="about-title" data-aos="fade-up">
        <h3 class="section-title">
          <span class='n-section-title'>01.</span> About Me
        </h3>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <div class="about-description">
            <p data-aos="fade-up" data-aos-duration="1000">
              An experienced Full Stack Developer and Mobile App Expert possesses a strong background in Agile methodologies. With
              over 5 years of experience in software development, experience encompasses startups and global organizations.
            </p>
            <p data-aos="fade-up" data-aos-duration="1000">
              This professional has contributed to various projects, specializing in web and mobile application development using a wide
              range of frameworks and tools. This skill set includes JavaScript, Java, Angular, Ionic, Bootstrap, Typescript, and
              more. Demonstrates not only proficiency in development but also dedication as a team player, recognized for commitment
              to delivering quality software and continuous improvement.
            </p>
            <p data-aos="fade-up" data-aos-duration="1000">
              Holding a Bachelor's degree and having completed a
              postgraduate course in Information Technology, there exists a solid educational foundation to complement practical
              skills. Proficiency in English and Spanish makes this professional an effective communicator and collaborator, a
              valuable asset to any team.
            </p>
            <p data-aos="fade-up" data-aos-duration="1000">
              The passion for software development is evident through publications and an unwavering
              pursuit of knowledge. A sought-after candidate for companies in search of a skilled, versatile, and agile developer.
            </p>
            <ul class="skills-list" data-aos="fade-up">
              <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular
                </span></li>
              <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">RxJS </span>
              </li>
              <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">HTML5 &amp;
                  CSS3 </span></li>
              <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Vue
                </span></li>
              <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Express
                </span></li>
              <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Scala
                </span></li>
              <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Jasmine /
                  Karma (TDD) </span></li>
              <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">CI / CD
                </span></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
          <div class="about-img-container">
            <img class="rounded" width="250" height="321" ngSrc="assets/images/alvaro.webp" alt="Alvaro">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
